{
  "presets": [
    [ "@babel/preset-env", {
      "targets": {
        "node": "8"
      }
    } ]
  ],
  "plugins": [ "@babel/plugin-syntax-object-rest-spread" ],
  "comments": false,
  "env": {
    "test": {
      "presets": [ "@babel/preset-env" ],
      "plugins": [ "@babel/plugin-syntax-object-rest-spread" ]
    }
  }
}
