{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
