{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": false,
        "targets": {
          "node": "8"
        }
      }
    ],
    "minify"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
