{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0
  }
}
